i.icon{
	font-size:2em;
}
.container.main{
	margin-top:7.0em;
}
#delete{
	display:inline;
}
body{
	background:url(https://images.unsplash.com/photo-1586114728926-fc10c981b7d3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
     background-size: cover;
}